.reasons__container {
	height: 256px;
	@include clearfix();
}

.reasons__expl {
	width: 400px;
	height: 256px;
	float: left;
	background-color: #81b3d2;
	color: #fff;
	box-sizing: border-box;
	padding: 55px 60px 60px;
	text-align: center;
}

.reasons__devil-bridge 
.reasons__img {
	float: left;
}

.reasons__adv {
	width: 1200px;
	display: inline-block;
	margin-top: -5px;
}

.expl__counter {
	padding: 15px 0;
	display: block;
}
